.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container h1 {

    font-size: 65px;
    font-weight: bold;

}

.voltar-home {

    margin-top: 50px;
    text-decoration: none;
    font-size: 17px;
    color: #0097A7;
    border: none;
    border-radius: 100px;
    padding: 14px 24px;
    background: #0096a715;
    cursor: pointer;
    transition: .3s;

}

.voltar-home:hover {

    color: white;
    background: linear-gradient(110deg, #00838F 50%, #007783 50%);

}